div.lc-block {
  display: inline-block !important;
}

.login-content-heading span{
	color: #fff;
	font-size: 18px;
}

.signup-page {
  min-height: 100%;
}

.lc-block:not(.lc-block-alt) .btn-login {
  top: 60%;
}

.login-content {
    min-height: 100vh;
    background-color: #2196F3;
}

p.conditions {
	margin-bottom: -12px;
	color: #fff;
	font-size: 12px;
}

.lcb-navigation a[data-ma-block="#l-login"] {
    width: 85px;
}

.lcb-navigation a[data-ma-block="#l-login"] span {
  width: 100%;
}

