<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top collapsed" role="navigation" id="navbar">
  <!-- Branding -->
  <div class="navbar-header col-md-2">
    <a class="navbar-brand" href="index.html">
      <strong>T & L </strong>COMM
    </a>
    <div class="sidebar-collapse">
      <a href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <!-- Branding end -->
  <!-- .nav-collapse -->
  <div class="navbar-collapse">
    <!-- Quick Actions -->
    <ul class="nav navbar-nav quick-actions">
      <li class="dropdown divided user" id="current-user">
        <div class="profile-photo">
        </div>
        <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
          {{ username }}<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu arrow settings">
          <li class="divider"></li>
          <li @click="logout()">
            <a href="#" ><i class="fa fa-power-off"></i> Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /Quick Actions -->
  </div>
  <!--/.nav-collapse -->
</div>
