<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top collapsed" role="navigation" id="navbar">
  <!-- Branding -->
  <div class="navbar-header col-md-2">
    <a class="navbar-brand" href="index.html">
      <strong>T & L </strong>COMM
    </a>
    <div class="sidebar-collapse">
      <a href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <!-- Branding end -->
  <!-- .nav-collapse -->
  <div class="navbar-collapse">
    <!-- Quick Actions -->
    <ul class="nav navbar-nav quick-actions">
      <li class="dropdown divided">
        <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
          <i class="fa fa-envelope"></i>
          <span class="label label-transparent-black">1</span>
        </a>
        <ul class="dropdown-menu wider arrow nopadding messages">
          <li><h1>You have <strong>1</strong> new message</h1></li>
          <li>
            <a class="cyan" href="#">
              <div class="profile-photo">
                <img src="assets/images/ici-avatar.jpg" alt />
              </div>
              <div class="message-info">
                <span class="sender">Ing. Imrich Kamarel</span>
                <span class="time">12 mins</span>
                <div class="message-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</div>
              </div>
            </a>
          </li>

          <li>
            <a class="green" href="#">
              <div class="profile-photo">
                <img src="assets/images/arnold-avatar.jpg" alt />
              </div>
              <div class="message-info">
                <span class="sender">Arnold Karlsberg</span>
                <span class="time">1 hour</span>
                <div class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="profile-photo">
                <img src="assets/images/profile-photo.jpg" alt />
              </div>
              <div class="message-info">
                <span class="sender">John Douey</span>
                <span class="time">3 hours</span>
                <div class="message-content">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</div>
              </div>
            </a>
          </li>

          <li>
            <a class="red" href="#">
              <div class="profile-photo">
                <img src="assets/images/peter-avatar.jpg" alt />
              </div>
              <div class="message-info">
                <span class="sender">Peter Kay</span>
                <span class="time">5 hours</span>
                <div class="message-content">Ut enim ad minim veniam, quis nostrud exercitation</div>
              </div>
            </a>
          </li>

          <li>
            <a class="orange" href="#">
              <div class="profile-photo">
                <img src="assets/images/george-avatar.jpg" alt />
              </div>
              <div class="message-info">
                <span class="sender">George McCain</span>
                <span class="time">6 hours</span>
                <div class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
              </div>
            </a>
          </li>


          <li class="topborder"><a href="#">Check all messages <i class="fa fa-angle-right"></i></a></li>
        </ul>
      </li>
      <li class="dropdown divided user" id="current-user">
        <div class="profile-photo">
          <img src="assets/images/profile-photo.jpg" alt />
        </div>
        <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
          John Douey <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu arrow settings">
          <li class="divider"></li>
          <li>
            <a href="#"><i class="fa fa-power-off"></i> Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /Quick Actions -->
  </div>
  <!--/.nav-collapse -->
</div>
