<!-- Sidebar -->
<ul class="nav navbar-nav side-nav" id="sidebar">
  <li class="collapsed-content">
    <ul>
      <li class="search"><!-- Collapsed search pasting here at 768px --></li>
    </ul>
  </li>
  <li class="navigation" id="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="#navigation">Navigation <i class="fa fa-angle-up"></i></a>
    <ul class="menu">
      <li>
        <a v-link="{path: '/'+main_path+'/dashboard', activeClass: 'active'}">
          <i class="fa fa-tachometer"></i> Dashboard
        </a>
      </li>
      <li>
        <a v-link="{path: '/'+main_path+'/properties', activeClass: 'active'}">
          <i class="fa fa-tachometer"></i> Properties
        </a>
      </li>
      <li>
        <a v-link="{path: '/'+main_path+'/myproperties', activeClass: 'active'}">
          <i class="fa fa-home"></i> My Properties
        </a>
      </li>
      <li>
        <a v-link="{path: '/'+main_path+'/messages', activeClass: 'active'}">
          <i class="fa fa-envelope"></i> Message
        </a>
      </li>
    </ul>
  </li>
</ul>
<!-- Sidebar end -->
