<aside id="sidebar" class="sidebar c-overflow">
  <div class="s-profile">
    <div class="card m-b-0" id="date-widget">
      <div class="card-header ch-alt">
        <div class="cwh-year"></div>
        <div class="cwh-day"></div>
        <div id="timer" class="timer c-white m-t-10 f-14">
          <strong><span class="time f-16"></span></strong>
        </div>
      </div>
    </div>
    <a>
      <div class="sp-info m-t-0 f-16">
         {{ shop_name }}
      </div>
    </a>
  </div>
  <ul class="main-menu m-t-0">
    <li>
      <a class="parent f-20 waves-effect" v-link="{path: '/admin/dashboard', activeClass: 'active'}"><i class="zmdi zmdi-view-dashboard"></i><span>Dashboard</span></a>
    </li>
    <li>
      <a class="parent f-20 waves-effect" v-link="{path: '/admin/customers', activeClass: 'active'}"><i class="zmdi zmdi-accounts"></i><span>Customers</span></a>
    </li>
    <li>
      <a class="parent f-20 waves-effect" v-link="{path: '/admin/repair-shop', activeClass: 'active'}"><i class="zmdi zmdi-file"></i><span>Invoices</span></a>
    </li>
    <li>
      <a class="parent f-20 waves-effect" v-link="{path: '/admin/calendar', activeClass: 'active'}"><i class="zmdi zmdi-calendar"></i><span>Calendar</span></a>
    </li>
    <li>
      <a class="parent f-20 waves-effect" v-link="{path: '/admin/shops/settings', activeClass: 'active'}"><i class="zmdi zmdi-settings"></i>
        <span>Settings</span>
      </a>
    </li>
      <li class="logout f-20">
        <a class="c-white bgm-red waves-effect" href="" @click="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
      </li>
  </ul>
</aside>
