<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Customers Fidelity Ratio</h2>
    </div>
    <div class="card-body card-padding">
      <div id="donut-chart" class="flot-chart-pie"></div>
      <div class="flc-donut hidden-xs"></div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Customers Served Chart</h2>
    </div>
    <div class="card-body card-padding-sm">
      <div id="bar-chart" class="flot-chart"></div>
      <div class="flc-bar"></div>
    </div>
  </div>
</div>
