<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Earnings Chart</h2>
    </div>
    <div class="card-body p-5">
      <div class="chart-edge">
        <div id="line-chart" class="flot-chart" style="height: 250px;"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="col-sm-6 col-md-6">
    <div class="mini-charts-item bgm-deeporange dashboar-earning">
        <div class="clearfix">
            <span class="zmdi zmdi-money-box"></span>
            <div class="count">
                <small>Today's Earnings</small>
                <h2 class="f-18">{{ todayEarnings }}</h2>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="mini-charts-item bgm-teal dashboar-earning">
        <div class="clearfix">
            <span class="zmdi zmdi-money-box"></span>
            <div class="count">
                <small>Week's Earnings</small>
                <h2 class="f-18">{{ weekEarnings }}</h2>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="mini-charts-item bgm-teal dashboar-earning">
        <div class="clearfix">
            <span class="zmdi zmdi-money-box"></span>
            <div class="count">
                <small>Month's Earnings</small>
                <h2 class="f-18">{{ monthEarnings }}</h2>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="mini-charts-item bgm-deeporange dashboar-earning">
        <div class="clearfix">
            <span class="zmdi zmdi-money-box"></span>
            <div class="count">
                <small>Year's Earnings</small>
                <h2 class="f-18">{{ yearEarnings }}</h2>
            </div>
        </div>
    </div>
  </div>
</div>
