<div id="content" class="col-md-12 chat">
















  <!-- content main container -->
  <div class="main">

    <!-- row -->
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- tile -->
        <section class="tile transparent">
          <!-- tile header -->
          <div class="tile-header color bg-transparent-black-5 rounded-corners">
            <ul class="chat-nav side-nav inline">
              <li><h3><strong>Messages</strong></h3></li>
            </ul>
          </div>
          <!-- /tile header -->


          <!-- tile body -->
          <div class="tile-body transparent nopadding">

            <div class="chat-content" id="chat-content">
              <ul class="chat-list">

                

                    <li class={{message.type}} v-for="message in messages" track-by="$index" >
                      <div class="media">
                        <div class="media-body">
                          <p class="media-heading"><a>{{ message.name }}</a> </p>
                          {{ message.message }}
                        </div>
                      </div>
                    </li>

       

              </ul>
            </div>

          </div>
          <!-- /tile body -->




          <!-- tile footer -->
          <div class="tile-footer transparent nopadding">

            <div class="chat-reply" id="chat-reply">
              <form novalidate v-on:submit.prevent>
                <div class="form-group">
                  <textarea id="message" v-model="message" field="message" placeholder="Post a reply..." class="form-control"></textarea>
                </div>
              </form>
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-transparent-white last pull-right" @click="sendMessage()">Reply</button>
              </div>
            </div>

          </div>
          <!-- /tile footer -->


        </section>
        <!-- /tile -->



      </div>


    </div>
    <!-- /row -->




  </div>
  <!-- /content container -->






</div>
<!-- Page content end -->
