<div class="block-header">
  <h2>{{ $t("pageTitle.newShop") }}</h2>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
  <div class="card">
    <div class="card-header m-b-15">
      <h2>Shop Information</h2>
    </div>
    <div class="card-body card-padding">
      <validator name="newRepairShopValidation">
        <form novalidate v-on:submit.prevent role="form" method="POST" data-parsley-validate v-on:submit.prevent class="group-border-dashed">
          <error-messages></error-messages>
          <div id="error-messages" class="alert alert-danger" v-show="newShopSubmitted && $newRepairShopValidation.invalid">
            <ul>
              <li v-for="error in $newRepairShopValidation.errors">
                <p>{{error.message}}</p>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group fg-float m-b-25">      
                <div class="fg-line" v-bind:class="{'fg-toggled': shop.name != '' }">
                    <input type="text" v-model="shop.name" field="shop.name" v-validate:ShopName="{ required: { rule: true, message: 'Shop name is required' } }" class="form-control fg-input input-lg" name="name"/>
                    <label class="fg-label">{{ $t("shop.name") }} <sup class="text-danger">Required</sup></label>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group fg-float m-b-25">      
                <div class="fg-line" v-bind:class="{'fg-toggled': shop.address1 != '' }">
                    <input type="text" v-model="shop.address1" field="shop.address1" v-validate:Address="{ required: { rule: true, message: 'Shop address is required' } }" class="form-control fg-input input-lg" name="address"/>
                    <label class="fg-label">Address <sup class="text-danger">Required</sup></label>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group fg-float m-b-25">      
                <div class="fg-line" v-bind:class="{'fg-toggled': shop.city != '' }">
                    <input type="text" v-model="shop.city" field="shop.city" v-validate:City="{ required: { rule: true, message: 'Shop city is required' } }" class="form-control fg-input input-lg" name="city"/>
                    <label class="fg-label">City <sup class="text-danger">Required</sup></label>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group fg-float m-b-25">      
                <div class="fg-line" v-bind:class="{'fg-toggled': shop.postal_code != '' }">
                    <input type="text" v-model="shop.postal_code" field="shop.postal_code" v-validate:PostalCode="{ required: { rule: true, message: 'Shop postal code is required' } }" class="form-control fg-input input-lg" name="postal-code"/>
                    <label class="fg-label">Postal Code <sup class="text-danger">Required</sup></label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="fg-line">
                  <label>Province/State <sup class="text-danger">Required</sup></label>
                  <select v-model="selectedRegion" name="region" class="form-control input-lg">
                    <option v-for="region in regions" v-bind:value="region.id">
                    {{ region.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="fg-line">
                  <label>Country <sup class="text-danger">Required</sup></label>
                  <select v-model="selectedCountry" data-parsley-class-handler="#country-handler" data-parsley-errors-container="#error-messages" data-parsley-required-message="The country is required" name="country"  class="form-control input-lg" required="required" @change="getRegions()">
                    <option v-for="country in countries" v-bind:value="country.id">
                    {{ country.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          <!-- Phone -->
            <div class="col-sm-12">
              <div class="form-group fg-float m-b-25">      
                <div class="fg-line" v-bind:class="{'fg-toggled': shop.phone != '' }">
                  <input type="text" v-model="shop.phone" id="shop-phone" field="shop.phone" v-validate:Phone="{ required: { rule: true, message: 'Shop phone is required' } }" class="form-control fg-input input-lg" name="phone"/>
                  <label class="fg-label">Phone <sup class="text-danger">Required</sup></label>
                </div>
              </div>
            </div>
          <!-- Website -->
            <div class="col-sm-12">
              <div class="form-group fg-float m-b-25">      
                <div class="fg-line" v-bind:class="{'fg-toggled': shop.website != '' }">
                  <input type="text" v-model="shop.website" field="shop.website"  class="form-control fg-input input-lg" name="website"/>
                  <label class="fg-label">Website</label>
                </div>
              </div>
            </div>
            <div class="spacer text-right">
              <button class="btn-shop-info btn btn-primary pull-right" @click="create()">Create My Shop!</button>
            </div>
          </div>
        </form>
      </validator>
    </div>
  </div>
</div>