<div class="block-header">
  <h2>Shop Settings</h2>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
  <div class="card">
    <div class="card-header m-b-15">
      <h2>Shop Information</h2>
    </div>
    <div class="card-body card-padding">
      <shop-info :shop.sync="shop"></shop-info>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
  <div class="card m-b-5">
    <div class="card-header">
        <h2>Shop Logo</h2>
    </div>
    <div class="card-body card-padding">
      <shop-logo></shop-logo>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
        <h2>Shop Legal</h2>
    </div>
    <div class="card-body card-padding">
      <shop-legal :shop.sync="shop" :legal.sync="legal"></shop-legal>
    </div>
  </div>
</div>
